body {
    overflow-x: hidden;
}

a, a:hover {
    text-decoration: none;
}

.unique-top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 25px;
    background: #62b738;
}

.unique-top-bar span {
    color: #fff;
    font-size: 2rem;
}

.unique-top-bar ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.unique-top-bar li {
    margin: 0px 5px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.unique-top-bar a {
    color: #181818;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    background-color: #FFFFFF;
}

.unique-fb:hover {
    color: #FFFFFF;
    background-color: #3b5998;
}

.unique-yt:hover {
    color: #FFFFFF;
    background-color: #ff3333;
}

.unique-fg:hover {
    color: #FFFFFF;
    background-color: #3b5998;
}

.unique-cl:hover {
    color: #FFFFFF;
    background-color: #2f2621;
}

.unique-logout {
    padding: 8px;
    cursor: pointer;
}

.unique-logout:hover {
    color: #FFFFFF;
    background-color: #222222; 
}
